/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  color: #333;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

/* Form styles */
form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

input[type="text"],
button {
  margin-bottom: 10px;
  margin-top: 5px;
  padding: 8px;
  min-width: min-content;
  width: 15%;
  margin-right: 8px;
  border-radius: 3px;
  border: 1px solid #ccc;
  white-space: nowrap;
}

button {
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 20px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

/* Student list styles */
#student_list_course_name,
#student_course_name_f,
#student_course_name_p{
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

#student_list, 
#student_failed,
#student_passed{
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 3px;
}

/* Hide class */
.hidden {
  display: none;
}
